

/* IDEA: Responsive Design */

/* IDEA: For Mobile */
  @media (max-width:767px) {
  .left-header{}
  .left-header img{  width: 165px;position: relative;}
.right-header{display: none;}
.navbar{padding: 10px 30px!important;}
.navbar-nav{text-align: center;}
.navbar-nav a{margin:5px -30px!important;}
.navbar-brand{display: none;}
.nav-item{margin-left: 30px!important;}
a.dropdown-item{margin-left: 0!important;}
.navbar-toggler{float: right!important;margin-right: 0!important;}
  }

/* IDEA: For Tablet */
  @media (min-width:768px) and (max-width:991px) {
  .header-top div.container{display: flex;justify-content: center;}
  .right-header{float: right;margin: 11px 0;display: none;}

  }
  @media (min-width:992px) and (max-width:1000px) {
  .header-top div.container{display: flex;justify-content: center;}
  .right-header {float: right;margin: 11px 0;display: none;}

  }
  @media (min-width:1001px) and (max-width:1199px) {
  .info-inner {float: left;margin-left: 30px;}
  }
  @media (min-width:1200px) and (max-width:1240px) {
  .info-inner {float: left;margin-left: 30px;}
  }
